header#mainHeader {
  height: 375px;
  width: 100%;
  top: 70px;
  position: relative;
  text-align: center;
  background-color: #49a1eb;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.avatar {
  margin-top: 20px;
}

.name {
  margin-top: 0;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  header#mainHeader {
    width: 33.3%;
    float: left;
    align-items: inline;
    margin: 20px;
  }

  .container {
    float: right;
    width: 60%;
    margin-top: 40px;
  }
};